src/main/java/com/client/CustomerWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="elementService" targetNamespace="http://ws.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.com/" elementFormDefault="unqualified" targetNamespace="http://ws.com/" version="1.0">

  <xs:element name="createElement" type="tns:createElement"/>

  <xs:element name="createElementResponse" type="tns:createElementResponse"/>

  <xs:element name="deleteElementById" type="tns:deleteElementById"/>

  <xs:element name="deleteElementByIdResponse" type="tns:deleteElementByIdResponse"/>

  <xs:element name="getAllElements" type="tns:getAllElements"/>

  <xs:element name="getAllElementsResponse" type="tns:getAllElementsResponse"/>

  <xs:element name="getElementById" type="tns:getElementById"/>

  <xs:element name="getElementByIdResponse" type="tns:getElementByIdResponse"/>

  <xs:element name="replaceElement" type="tns:replaceElement"/>

  <xs:element name="replaceElementResponse" type="tns:replaceElementResponse"/>

  <xs:element name="updateElement" type="tns:updateElement"/>

  <xs:element name="updateElementResponse" type="tns:updateElementResponse"/>

  <xs:complexType name="getAllElements">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllElementsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:element"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="element">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:int"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getElementById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getElementByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:element"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="replaceElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:element"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="replaceElementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:element"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteElementById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteElementByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:element"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateElementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:element"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:element"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createElementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="replaceElementResponse">
    <wsdl:part element="tns:replaceElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllElements">
    <wsdl:part element="tns:getAllElements" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElementById">
    <wsdl:part element="tns:getElementById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllElementsResponse">
    <wsdl:part element="tns:getAllElementsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateElementResponse">
    <wsdl:part element="tns:updateElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createElementResponse">
    <wsdl:part element="tns:createElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteElementByIdResponse">
    <wsdl:part element="tns:deleteElementByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="replaceElement">
    <wsdl:part element="tns:replaceElement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteElementById">
    <wsdl:part element="tns:deleteElementById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateElement">
    <wsdl:part element="tns:updateElement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElementByIdResponse">
    <wsdl:part element="tns:getElementByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createElement">
    <wsdl:part element="tns:createElement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerWS">
    <wsdl:operation name="getAllElements">
      <wsdl:input message="tns:getAllElements" name="getAllElements">
    </wsdl:input>
      <wsdl:output message="tns:getAllElementsResponse" name="getAllElementsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getElementById">
      <wsdl:input message="tns:getElementById" name="getElementById">
    </wsdl:input>
      <wsdl:output message="tns:getElementByIdResponse" name="getElementByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="replaceElement">
      <wsdl:input message="tns:replaceElement" name="replaceElement">
    </wsdl:input>
      <wsdl:output message="tns:replaceElementResponse" name="replaceElementResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteElementById">
      <wsdl:input message="tns:deleteElementById" name="deleteElementById">
    </wsdl:input>
      <wsdl:output message="tns:deleteElementByIdResponse" name="deleteElementByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateElement">
      <wsdl:input message="tns:updateElement" name="updateElement">
    </wsdl:input>
      <wsdl:output message="tns:updateElementResponse" name="updateElementResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createElement">
      <wsdl:input message="tns:createElement" name="createElement">
    </wsdl:input>
      <wsdl:output message="tns:createElementResponse" name="createElementResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="elementServiceSoapBinding" type="tns:CustomerWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getElementById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getElementById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getElementByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllElements">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllElements">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllElementsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="replaceElement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="replaceElement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="replaceElementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteElementById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteElementById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteElementByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateElement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateElement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateElementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createElement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createElement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createElementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="elementService">
    <wsdl:port binding="tns:elementServiceSoapBinding" name="elementServicePort">
      <soap:address location="http://localhost:8080/ws-app/elementService/CustomerWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>